@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-source-sans-pro text-slate-700;
}

* {
  ::-webkit-scrollbar {
    @apply w-4 bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-4 border-solid border-gray-100 bg-black bg-opacity-60 hover:bg-opacity-40;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply border-none;

  transition: background-color 5000s ease-in-out 0s;
}
